

  <% if flash[:notice] %>
    <div class="alert alert-error" class="span9" >
      <a href="#" class="close" data-dismiss="alert">&times;</a>
        <%= flash[:notice] %>
    </div>
  <% end %>


<div id="login" class="span6 offset6" >

  <%= form_tag sessions_path do %>

    <h2 class="form-signin-heading">* Deuteronomy 24:6 *</h2>

    <%= label_tag :email, "Email:", :class => "text-info" %>
    <%= text_field_tag :email, nil, :class => "input-block" %>
    
    <br></br>
    
    <%= label_tag :password, "Password:", :class => "text-info" %>
    <%= password_field_tag :password, nil, :class => "input-block" %>

    <br></br>

    <%= submit_tag "Login", :class => "btn btn-small btn-primary"  %>

  <% end %>
</div>
