
<% if flash[:notice]  %>
  <div class="alert alert-error" class="span9">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
      <%= flash[:notice]  %>
  </div>
<% end %>

<p> User email: <%= @user.email %></p>
<p> User Id: <%= @user.id %></p>

<h2 class="form-signin-heading"> Upload a file! </h2>

<%= form_tag ul_path, :multipart => true do %>
  <%= file_field_tag 'uploadFile' %>
  <br></br>
  <%= submit_tag "upload", :class => "btn btn-small btn-primary"  %>
<% end %>



<h3 class="form-signin-heading"> Files uploaded: </h3>


<% unless @user.uploads.empty? %>
  <% @user.uploads.each_with_index do |file, i| %>
    <%= link_to "delete", df_path(file.id), :id => file.id %>
    <p> file name: <%= file.name %> </p>
  <% end %>
<% end %>



<%= link_to "Logout", logout_path %> 
